*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}
.result{
  border-style: solid;
border-width: 1px;
width: 50%;
padding-left: 10px;
background-color: aqua;
}
#container{
width: 100%;
display: flex;
height: 100%;
}
form{
width: 50%;
padding-right: 10px;

}
textarea{
width: 50vw;
height: 100%;
}
input{
  position: absolute;
  bottom: 0;
  right: 50%;
  padding: 10px;
  background-color: rgb(113, 222, 211);
  border-radius: 10%;
}