.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


.result {
  border-style: solid;
  border-width: 1px;
  width: 50vw;
  height: 50vh;
  /*text-align: center;*/
  background-color: aqua;
}